#reg{
padding:8px 1px ;


}

#sign{

padding:8px 13px ;

}
.nav{

margin-top:15px;




}


ul li a{

font-size:26px;
color:#87CEFA; 
padding: 20px;

}

body  
{
  //display:flex;
 // justify-content: center;
 //align-items: center;
 //min-height:100vh;
 //flex-wrap: wrap;
background-color: black;
 //background: #010615;

  

 }


 #click-in {

     border: 1px solid black;
     width: 380px;
     height:80px;
     margin-left:100px;
     
     background: #F08080;
     text-align:center;
     color: black;

  }
#grid{
margin-top:5px;
margin-left:5px;
padding:15px;




}
p{

color:#00FF7F;
font-size:25px;


}

#card2{

//background: linear-gradient(235deg, #ff005e,#87CEEB, #fbff00);
 
   background: linear-gradient(235deg, #f43a09, #010615, #9bc400);

 //background: linear-gradient(235deg,#87CEEB, #FFF0F5,#7CFC00);

}
#card1{


 background: linear-gradient(235deg, #8B4513, #010615, #00FF7F);
  

}
#card3{


 background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
  

}
pre{

font-size:20px;
color:white;

}





  .edu ul  {
     
        display: inline-flex; 
        margin:  -3px;
         margin-left:  -38px;
         margin-bottom:  1px;
       
       

     } 

         .edu ul li {
 
          text-align:center;
          font-size:17px;
          margin:5px;
        
          border: 1px solid black;
          width: 120px;
          height:32px;
          padding: 3px 2px;
          display: block;
          background: ;
       background: linear-gradient(235deg,#F012BE, #010615, #39CCCC); 
         color:white;
        }


#catalog{
margin-top:1px;
margin-left:-10px;
background: linear-gradient(235deg,#FFC0CB,#010615,#FFE4E1); 
      
}

  .promo {

     width: 470px;
     height: 290px;
     object-fit: cover;
     z-index: -100;
   
     margin-top: 1px;
     //border: 1px solid black;
      margin-left:50px;
    
  }
h5{
margin-left:30px;




}