@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Poppins', sans-serif;

}



body  
{
  //display:flex;
  justify-content: center;
 align-items: center;
 min-height:100vh;
 flex-wrap: wrap;
 background-color: black;
 //background: #010615;

  

   }

 @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} 

 .main ul {
 
     width: 100%;
   // background-color: rgba(255, 0, 0, 0.3);
     overflow: hidden;
     position: fixed;
     top:1%;
   }


    .main ul  li {

       display: inline-block;
       padding:20px ;  
     }

       .main ul li a {
             color:#87CEFA; 
          //color: rgba(50,50,200,0.5);  
            font-size: 20px;
      // background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
        //-webkit-background-clip: text;
        //-moz-background-clip: text;
        background-clip: text;
        //color: transparent;
 
         }




.home::after {

        content:'';
        display:block;
        width:0;
        height:2px;
        background:red;
        transition:width .3s;

  }
 
  .home:hover::after {

        width:100%;
        transition:width .3s;
  }

  .sign {

       position:absolute;
       left:44%;
       top:29%;

  }


 

  .click-in {

     border: 1px solid ;
     width: 280px;
     height:80px;
     margin:2px;
     padding:10px;
     background: #DDA0DD;
     position:absolute;
     left:77%;
     top:12%;
     text-align:center;
     color:black;
  }





.par {

     font-size:17px;
     color:white;
     position:absolute;
     left:6%;
     top:19%;

  }


  .par1 {

    font-size:17px;
    color:white;
    position:absolute;
    left:34%;
    top:19%;

  }


  .par2 {

    font-size:17px;
    color:white;
    position:absolute;
    left:63%;
    top:19%;

  }
.par3 { 

    width: 330px;
    height: 110px;
    border: 1px solid white;
    padding: 5px 10px;
    background: #AFEEEE;
background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);

    border-color: black;
    position: absolute;
    top: 24%;
    left: 5%;
    color: black;
    margin:3px;
    //padding:5px;
    font-size:13.5px;
    color:red;

  }


  .par5 { 

    width: 330px;
    height: 120px;
    border: 1px solid white;
    padding: 5px 10px;
    background: #FFC0CB;
background: linear-gradient(235deg, #ff005e, #010615, #fbff00);

    border-color: black;
    position: absolute;
    top: 24%;
    left: 33%;
    margin:1px;
 
    font-size:13.5px;
    color:#800080;
  
  }


  .par6 { 

    width: 330px;
    height: 120px;
    border: 1px solid white;
    padding: 5px 10px;
    background: #F5DEB3;
   background: linear-gradient(235deg, #f43a09, #010615, #9bc400);

    border-color: black;
    position: absolute;
    top: 24%;
    left: 62%;
    margin:2px;
   
    font-size:13.5px;
    color:#0000CD;
  
  }





  

 .box1 {

    border: 1px solid black;
    width: 475px;
    height:270px;
    padding: 8px 10px;
    background: #FF7F50;
    position:absolute;
    left:10%;
    top:55%;
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);


  }


     .edu ul  {
     
        display: inline-flex; 
        margin:  1px;

     } 

         .edu ul li {
 
          text-align:center;
          font-size:11px;
          margin:5px;
          cursor: pointer;
          border: 1px solid ;
          width: 80px;
          height:24px;
          padding: 3px 2px;
          display: block;
          background: #FFC0CB;
       
   
        }



   



  .promo {

     width: 380px;
     height: 230px;
     object-fit: cover;
     z-index: -100;
     position: absolute;
     top: 55%;
     left: 55%;
     margin: 0 auto;
     border: 1px solid black;
      
    
  }

  
.video{
    position: absolute;
    top: 48%;
    left: 54%;
    color:#3CB371;
}






