 body  
     {
 
  background-color: black;
  
 }

.container-fluid ul li a{

font-size:22px;
color:#87CEFA; 
padding: 20px;

}




.container-fluid ul li{

padding: 15px 4px;
margin:30px;



}


 #click-in {

     border: 1px solid black;
     width: 300px;
     height:60px;
     float:right;
     background: #F08080;
     text-align:center;
     color: black;
    position:absolute;
    top:10%;
    left:75%;
    padding: 5px 2px;

  }


button{

margin-top:10px;
margin-right:30px;
float:right;
color:black;
font-size:20px;

}

button a{


color:black;
font-size:15px;

}




h4{
float:right;
margin-right:120px;
margin-top:18px;


}



 .box1 {

    border: 1px solid black;
    width: 490px;
    height:300px;
    padding: 8px 10px;
    background: #FF7F50;
    position:absolute;
    left:12%;
    top:40%;
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);


  }


     .edu ul  {
     
        display: inline-flex; 
        margin:  1px;
        padding:1px;

     } 

         .edu ul li {
 
          text-align:center;
          font-size:11px;
          margin:4px;
          cursor: pointer;
          border: 1px solid ;
          width: 80px;
          height:30px;
          padding: 3px 2px;
          display: block;
          background: #FFC0CB;
          color:black;
   
        }
         .edu ul li a{
    
           color:black;
   
            
     }

     .promo {

     width: 380px;
     height: 250px;
     object-fit: cover;
     z-index: -100;
     position: absolute;
     top: 40%;
     left: 57%;
     margin: 0 auto;
     border: 1px solid black;
      
        
  }

/* styling search bar */ 
    .search input[type=text]{ 
        width:300px; 
        height:45px; 
        border-radius:25px; 
        border: none; 
        
    } 
          
    .search{ 
         
        margin-top:1px;
        padding:10px;
        display:inline-flex;
        margin-left:10px;
       background-color: #0074D9;
       width:380px; 
       
    } 
          
    .search button{ 
        background-color: #0074D9; 
        color: #f2f2f2; 
        float: right; 
        padding: 5px 10px; 
          margin-right: 16px;
        font-size: 12px; 
        border: none; 
        cursor: pointer;
         
    }  

.full{

background-color: #0074D9; 


}